/bin
.env
.mqtt_credentials
CLAUDE.md
freshrss/config/
homeassistant/home-assistant-matter-hub/
homeassistant/homeassistant/
homeassistant/mosquitto/
homeassistant/musicassistant/
immich/library/
immich/postgres/
paperless/library/
paperless/redisdata/
paperless/postgres/
pihole/etc-pihole/
proxy/nginx/static/
logs
