---
services:
  certbot-init:
    image: certbot/certbot
    entrypoint: /bin/sh
    command: -c 'test -d /etc/letsencrypt/live/${DOMAIN1} || certbot certonly -v --standalone -v -d $DOMAIN1 -d $DOMAIN2 -d $DOMAIN3 -d $DOMAIN4 -m $EMAIL --force-renewal --agree-tos'
    # Initial recreation when new host is added
    # command: -c 'certbot certonly -v --standalone -v -d $DOMAIN1 -d $DOMAIN2 -d $DOMAIN3 -d $DOMAIN4 -m $EMAIL --force-renewal --agree-tos'
    ports:
      - 80:80
    volumes:
      - cert_volume:/etc/letsencrypt
  nginx:
    image: nginx:1.29.4-alpine
    entrypoint: /bin/sh
    command: -c 'while :; do sleep 6h && wait $${!}; nginx -s reload; done & /docker-entrypoint.sh nginx -g "daemon off;error_log /dev/stdout debug;"'
    ports:
      - 80:80
      - 443:443
    volumes:
      - ./nginx:/etc/nginx/templates # to configure nginx
      - ./nginx/includes:/etc/nginx/includes # modular config includes
      - ./nginx/static:/var/www/html # provide static web site
      - ./nginx/logs:/var/log/nginx # store access logs to host system
      - cert_volume:/etc/letsencrypt
      - acme_challenge:/usr/share/nginx/html/.well-known
    environment:
      DOMAIN1: ${DOMAIN1}
      DOMAIN2: ${DOMAIN2}
      DOMAIN3: ${DOMAIN3}
      DOMAIN4: ${DOMAIN4}
      BACKEND_IP: ${BACKEND_IP}
    depends_on:
      certbot-init:
        condition: service_completed_successfully
        required: true
    restart: unless-stopped      
  certbot:
    image: certbot/certbot
    entrypoint: /bin/sh
    command: -c 'trap exit TERM; while :; do certbot renew; sleep 24h && wait $${!}; done;'
    depends_on:
      nginx:
        condition: service_started
        required: true
    volumes:
      - cert_volume:/etc/letsencrypt
      - acme_challenge:/usr/share/nginx/html/.well-known
    restart: unless-stopped      
volumes:
  cert_volume:
  acme_challenge:
